.user_page_container{
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    justify-content: center; /* Centers items vertically (main axis) */
    align-items: left;     /* Centers items horizontally (cross axis) */
    /* height: 100vh;           */
    /* background-color: aquamarine; */
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 10px;

}

.element_containers{
    background-color: rgb(31, 21, 21);
    border-radius: 15px;
    width: 180px;
    text-align: center;
}