.user_page_container{
    display: grid;
    grid-template-columns: 15% 85%;
    column-gap:10px;

    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 10px;

}

.element_containers{
    background-color: rgb(31, 21, 21);
    border-radius: 15px;
    width: 180px;
    text-align: center;
}