.user_page_container{
    display: grid;
    grid-template-columns: 15% 85%;
    /* column-gap:10px; */

    margin-left: 50px;
    padding: 10px;

}

.element_containers{
    background-color: rgb(31, 21, 21);
    border-radius: 15px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;


}

.element_containers:hover{
    color: aliceblue;
}

.element_containers.active{
    background-color: rgb(71, 45, 45);
}


.left_sub_container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* background-color: rgb(89, 70, 70); */
    height: 100vh;
    margin: 10px;
    padding-top: 15px;
    /* border-radius: 5px; */
}

.right_sub_container{
    /* background-color: rgb(101, 79, 79); */
    /* margin: 10px; */
    height: 100vh;
    padding-left: 35px;
}



