#trending_container{
    padding: 0.5rem;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 6fr 0.5fr;
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;     /* Prevent anything inside from overflowing */
    background-color: #222;
    
}

.image_container{
    width: 100%;           /* Or any size you like */
    height: 100%;          /* Keeps image-container smaller than parent */
    overflow: hidden;     /* Prevents image overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.image_container img{
    max-width: 100%;      /* Image never exceeds its parent width */
    max-height: 100%;     /* Image never exceeds its parent height */
    object-fit: contain;   /* Keeps full image visible */
    display: block;
}

/* p{
    background-color: bisque;
} */

/* h3{
    background-color: #29361e;
} */

#desc_container{
    width: 100%;
    height: 100%;
    background-color: rgb(37, 34, 31);
    display: grid;
    grid-template-rows: auto auto auto 1fr;
}