.loginContainer{
    max-width:400px;
    margin: 50px auto;
    padding: 10px;
    color: rgb(49, 130, 97);
}

.loginfieldsContainer{
    margin-bottom:15px;
}
.loginLabelContainer{
    display: block;
    margin-bottom: 5px
}

.loginInputs{
    width: 100%;
    padding: 8px
}

.loginSubmitButton{
    width: 100%; 
    padding: 10px;
}
