.form_container{
    max-width:400px;
    margin: 50px auto;
    padding: 10px;
    color: rgb(49, 130, 97);
}

.fields_container{
    margin-bottom:15px;
}
.field_label{
    display: block;
    margin-bottom: 5px
}

.field_input{
    width: 100%;
    padding: 8px
}

.loginSubmitButton{
    width: 100%; 
    padding: 10px;
}

.show_credentials{
    color: red;
    
}
