#nav_container{
    padding: 1rem;
    background-color: rgb(49, 44, 44);
    width: 100%;
}

#nav_list{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
 }

 a {
  text-decoration: none;
  color: inherit; 
}