#nav_container{
    padding: 1rem;
    background-color: rgb(49, 44, 44);
    width: 100%;
}

#nav_list{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
 }

 #movie_card{
    width: 200px;
    height: 280px;
 }

 img{
    width:100%;
    height: 100%;
 }